* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #242424;
}

body {
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 300px auto;
  grid-auto-rows: 100vh;
}

/* sidebar */

.sidebar {
  grid-template-columns: 1 / span 1;
  border: 2px solid gray;

  p {
    margin-top: 3rem;
    padding: 2rem;
    background: gray;
  }
}

/* main */

.main {
  grid-template-columns: 2 / -1;
  border: 2px solid gray;

  position: relative;

  &-text {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

.content-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* search */
.search {
  svg {
    width: 2rem;
    height: 2rem;
  }
}

/* utility classes */

.container {
  width: min(100% - 2rem, 100rem);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
