* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #242424;
}

body {
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 300px auto;
  grid-auto-rows: 100vh;

  position: relative;
  overflow-x: hidden;
}

/* sidebars */

.left-sidebar {
  grid-template-columns: 1 / span 1;
  border: 2px solid gray;

  p {
    margin-top: 3rem;
    padding: 2rem;
    background: gray;
  }
}

.right-sidebar {
  position: absolute;
  min-height: 100vh;
  padding: 1rem;

  top: 0;
  right: 0;
  bottom: 0;

  width: 500px;
  background-color: hsl(189 15% 27% / 0.85);
  backdrop-filter: blur(10px);

  transition: transform 500ms ease-in-out;

  button {
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
  }

  input {
    padding: 1rem;
    border-radius: 5px;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  .input-group {
    display: grid;
    gap: 1rem;

    margin-top: 1rem;
  }
}

/* main */

.main {
  grid-template-columns: 2 / -1;
  border: 2px solid gray;

  position: relative;

  &-text {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  header {
    padding: 0.5rem;
  }
}

.content-area {
  width: 100%;
  color: black;

  table {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid hsl(0, 6%, 35%);
    border-collapse: collapse;
    padding: 1rem;
  }

  td {
    animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &-error,
  &-info {
    font-size: 1.2rem;
    text-align: center;
    background-color: hsl(0, 0%, 100%);

    width: 60%;
    padding-block: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
    text-transform: lowercase;
  }

  &-error {
    color: hsl(0, 100%, 50%);
  }

  &-info {
    color: hsl(228, 100%, 50%);
  }
}

.empty-content-area {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;

  transform: translate(-50%, -50%);
  animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* search */

.search {
  svg {
    width: 2rem;
    height: 2rem;
  }

  input {
    padding: 0.5rem;
  }
}

/* utility classes */

.container {
  width: min(100% - 2rem, 100rem);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
