* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 500px auto;
}

/* sidebar */

.sidebar {
  grid-template-columns: 1 / span 1;
  border: 2px solid red;
}

/* main */

.main {
  grid-template-columns: 2 / -1;
  border: 2px solid red;
}

/* search */
.search {
  svg {
    width: 2rem;
    height: 2rem;
  }
}

/* utility classes */

.container {
  width: min(100% - 2rem, 100rem);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
